@{
    ViewData["Title"] = "Terms and Conditions";
}
<div class="container-lg mt-4 p-4 bg-white border-1 shadow-sm">
    <h1 class="fs-3 mb-0">Terms and Conditions</h1>
    <hr class="d-flex my-4">
    <h2 class="fs-5">Who we are and how to contact us</h2>
    <p>This site is operated by the Population Data Science group at Swansea University as part of the Data and Analytics Research Environments UK (DARE UK) programme based within Health Data Research UK (“HDR UK”). HDR UK is a limited company registered in England and Wales under company number 10887014 and its registered office is at 215 Euston Road, London, England, NW1 2BE.</p>

    <h2 class="fs-5">
        Acceptance of Terms and Conditions
    </h2>

    <p>
        Access to and use of this site is provided by HDR UK subject to the following:<br />
        By using this site you confirm that you accept the following Terms and Conditions and that you agree to comply with them. The Terms and Conditions take effect on the date of your first use of the site.
    </p>
    <p>If you do not agree to these Terms and Conditions, you must not use our site.</p>
    <h2 class="fs-5">
        Other Terms and Conditions that apply to you
    </h2>
    <p>The following additional terms also apply to your use of our site:</p>
    <ul>
        <li>
            Privacy Notice, which sets out how we will use your personal data.
        </li>
        <li>
            Cookie Policy, which sets out information about the cookies on our site.
        </li>
        <li>
            Changes to Terms and Conditions
        </li>
    </ul>

    <p>
        HDR UK reserves the right to amend these Terms and Conditions from time to time. When you use this site, please check the Terms and Conditions. By continuing to use the site after amendments are made you confirm that you accept the amendments and that you agree to comply with them.
    </p>
    <h2 class="fs-5">
        Disclaimer
    </h2>
    <p>
        Views and opinions of non-HDR UK groups or individuals that appear on this site do not necessarily reflect the views of HDR UK.
        HDR UK does not endorse or recommend any commercial products, processes or services linked from or provided on this site.
        This site and the information, names, images, pictures, logos and icons contained therein are provided “AS IS” and on an “AS AVAILABLE” basis without any representation or endorsement made and without warranty of any kind.
        In no event will HDR UK or any of its member/partner organisations be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with use of, or inability to use our site or use of or reliance on any content displayed on our site, including, without limitation, any indirect or consequential loss or damage, loss of profits, sales, business or revenue, loss of anticipated savings, loss or business opportunity, goodwill or reputation or business interruption.
        HDR UK does not warrant that the service continuity of this site will be uninterrupted or error-free, nor that this site or the server that makes it available are free of viruses, bugs or defects.
    </p>
    <h2 class="fs-5">
        External links
    </h2>
    <p>
        Links from this site to other external sites are provided for convenience and information only. HDR UK and its members/partners do not endorse the content or services delivered through these external sites and are not responsible for their availability, reliability or accuracy. HDR UK have no control over the content of these external sites. Permission to reproduce information from these external sites may be required from the external site provider.
        The existence of a link from any organisation’s site to HDR UK’s site does not imply that HDR UK endorses the activities or views of that organisation.
        We only link to sites (charity, business or otherwise) if they fulfil the following two conditions: HDR UK has an existing partnership with the organisation and/or the link is relevant to the work of HDR UK.
    </p>
    <h2 class="fs-5">
        Copyright restrictions
    </h2>
    <p>
        HDR UK is the owner or the licensee of all intellectual property rights in this site, and in the material published on it.
        You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.
        You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
        Our statusType (and that of any identified contributors) as the authors of content on our site must always be acknowledged.
        You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.
        If you print off, copy or download any part of our site in breach of these Terms and Conditions, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
    </p>
    <h2 class="fs-5">
        Restrictions on your use of the site
    </h2>
    <p>
        You agree to use this site only for lawful purposes, and in a manner which does not infringe the rights of, or restrict, or inhibit the use and enjoyment of this site by any third party. Such restriction includes, without limitation, conduct which is unlawful or which may harass or cause distress or inconvenience to any person and the transmission of offensive material or disruption of normal flow of dialogue within this site.
        You must not misuse our site by knowingly introducing any material that contains viruses, Trojan horses, worms, logic bombs, time-bombs, keystroke loggers, spyware, adware or other harmful programs or material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attached. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.
    </p>
    <h2 class="fs-5">
        Accuracy of information
    </h2>
    <p>
        Neither HDR UK nor its members will be liable for any losses or damage that may result from use of the site as a consequence of any inaccuracies in, or any omissions from, the information, which it may contain.
        We have made reasonable efforts to ensure that the information is accurate at the time of inclusion. However, we make no representations, warranties or guarantees, whether express or implied, that the information on this site is free from technical inaccuracies or typographical errors or that the content is accurate, complete or up to date. We are not liable for any error or omission in, or any failure to update, the information on this site and any decisions based on the information are your sole responsibility
    </p>
    <h2 class="fs-5">
        Other important terms
    </h2>
    <p>
        If any of these Terms and Conditions should be determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these Terms and Conditions are intended to be effective, then to the extent to and within the jurisdiction in which that Term and Condition is illegal, invalid and unenforceable, it shall be severed and deleted from these Terms and Conditions and the remaining Terms and Conditions shall survive, remain in full force and continue to be binding and enforceable.
        If you are a consumer, please note that these Terms and Conditions, their subject matter and their formation, are governed by English law. We both agree that the courts of England and Wales will have exclusive jurisdiction except that if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are a resident of Scotland, you may also bring proceedings in Scotland. If you are a business, these Terms and Conditions, their subject matter and their formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.
    </p>
</div>