name: Build and Deploy Agent Web UI application

on:
  workflow_dispatch:
  pull_request:
    branches:
      - feat/agent-web/initial-deploy-workflow
      - fix/agent-web
      - chore/agent-web
      - refactor/agent-web
      - test/agent-web
      - docs/agent-web
    paths:
      - "Agent/agent-web/**"
      - ".github/workflows/**"
  push:
    branches:
      - main

env:
  app-name: 5s-tes
  repo-owner: swanseauniversitymedical
  registry: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Docker Login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set timestamp env var
        run: echo "RUN_TIMESTAMP=$(TZ="Etc/UTC" date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      # Set the image tag - derived from branch name for now
      - name: Set default image tag
        run: |
          BRANCH_TAG=$(echo "${{ github.ref_name }}" | sed 's/\//-/g')
          echo "IMAGE_TAG=$BRANCH_TAG" >> $GITHUB_ENV

      # Build and push agent web UI application
      - name: Extract agent web UI application Docker metadata
        id: agent_web_ui_application_meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ env.registry }}/${{ env.repo-owner }}/${{ env.app-name }}/agent-web
          tags: |
            type=raw,value=${{ env.IMAGE_TAG }}
            type=raw,value=${{ github.sha }}
            type=raw,value=${{ env.RUN_TIMESTAMP }}

      - name: Build and push agent web UI application image
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: ./Agent/agent-web
          file: ./Agent/agent-web/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.agent_web_ui_application_meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Deploy Agent Web UI Application
      - name: Deploy Agent Web UI Application
        uses: azure/webapps-deploy@2fdd5c3ebb4e540834e86ecc1f6fdcd5539023ee # v3.0.2
        with:
          app-name: ${{ vars.AGENT_WEB_UI_APPLICATION_NAME }}
          publish-profile: ${{ secrets.AGENT_WEB_UI_APPLICATION_PUBLISH_PROFILE }}
          images: ${{ env.registry }}/${{ env.repo-owner }}/${{ env.app-name }}/agent-web:${{ env.IMAGE_TAG }}
